[submodule "actix-gcd"]
	path = actix-gcd
	url = https://github.com/Stead08/actix-gcd.git
[submodule "mabdelbrot"]
	path = mabdelbrot
	url = https://github.com/Stead08/mandelbrot.git
[submodule "o_r_mapper_practice"]
	path = o_r_mapper_practice
	url = https://github.com/Stead08/o_r_mapper_practice.git
